{% extends "frontend/user.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Archived Sensor Readings</h2>
        <table class="table table-striped table-bordered" id="sensorReadingsTable">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody id="sensorReadingsBody"></tbody>
        </table>
        <div id="paginationControls">
            <button id="prevPage" onclick="changePage(-1)" disabled>Previous</button>
            <span id="pageInfo">Page 1</span>
            <button id="nextPage" onclick="changePage(1)" disabled>Next</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <div class="bg-dark text-white rounded p-3">
                <h5>Accessible Sensors</h5>
            </div>
            <div id="sensorList">
                {% for sensor in sensors %}
                <div class="card w-100 text-center">
                    <div>
                        <strong>{{ sensor.nazwa_sensora }}</strong><br>
                        <small>{{ sensor.adres_MAC }}</small><br>
                        <small>id: {{ sensor.id }}</small>
                    </div>
                    {% for type in sensor.measurement_types %}
                    <button class="sensor-card w-100 px-3"
                        onclick='loadSensorData({{ type.id }}, "{{ type.jednostka }}", {{ sensor.id }})'>
                        {{ type.nazwa_pomiaru }}
                    {% endfor %}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    let currentSensorId = null;
    let currentTypeId = null;
    let currentUnit = "";
    let currentPage = 1;
    let totalPages = 1;

    function loadSensorData(typeId, unit, sensorId) {
        currentUnit = unit;
        currentTypeId = typeId;
        currentSensorId = sensorId;
        currentPage = 1;
        fetchSensorData();
    }

    function fetchSensorData() {
        const url = `http://localhost:8000/user/archive/measurements/?sensor_id=${currentSensorId}&type=${currentTypeId}&page=${currentPage}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('sensorReadingsBody');
                tableBody.innerHTML = '';
                data.results.forEach(reading => {
                    const row = `<tr>
                                    <td>${reading.timestamp}</td>
                                    <td>${reading.value / 100}${currentUnit}</td>
                                </tr>`;
                    tableBody.innerHTML += row;
                });

                document.getElementById('pageInfo').innerText = `Page ${currentPage}`;
                totalPages = Math.ceil(data.count / 10);

                document.getElementById('prevPage').disabled = currentPage <= 1;
                document.getElementById('nextPage').disabled = currentPage >= totalPages;
            });
    }

    function changePage(offset) {
        currentPage += offset;
        fetchSensorData();
    }
</script>
{% endblock %}

